@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

body{
    background: #222;
    font-family: 'Mukta', sans-serif;
    height: 100vh;
    margin: 0px;
    overflow: hidden;
}